<h2>Registration Form</h2>
<form (submit)="onSubmit()">
  <label>
    Username:
    <input type="text" name="username" [(ngModel)]="registrationDetails.username" required>
  </label>
  <br>
  <label>
    Email:
    <input type="email" name="email" [(ngModel)]="registrationDetails.email" required>
  </label>
  <br>
  <label>
    Password:
    <input type="password" name="password" [(ngModel)]="registrationDetails.password" required>
  </label>
  <br>
  <label>
    Confirm Password:
    <input type="password" name="password" [(ngModel)]="registrationDetails.confirmPassword" required>
  </label>
  <br>
  <label>
    Role:
    <select name="role" [(ngModel)]="registrationDetails.role">
      <option value="Faculty">Faculty</option>
      <option value="Admin">Admin</option>
    </select>
  </label>
  <br>
  <button type="submit">Register</button>
</form>
