<div class="container">
  <h2 class="text-center">Faculty Profile</h2>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <p><strong>Username:</strong> {{ currentUser.username }}</p>
          <p><strong>Email:</strong> {{ currentUser.email }}</p>
          <p><strong>Password:</strong> {{ currentUser.password }}</p>
          <p><strong>Role:</strong> {{ currentUser.role }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
