<form (submit)="onSubmit()">
  <label>
    Username:
    <input type="text" name="username" [(ngModel)]="registrationDetails.username">
  </label>
  <br>
  <label>
    Password:
    <input type="password" name="password" [(ngModel)]="registrationDetails.password">
  </label>
  <br>
  <label>
    Role:
    <select name="role" [(ngModel)]="registrationDetails.role">
      <option value="Faculty">Faculty</option>
      <option value="Admin">Admin</option>
    </select>
  </label>
  <br>
  <button type="submit">Register</button>
</form>
